<div class="add_img">
  <img src="../../assets/img/online-shopping2%20.jpg">
  <img src="../../assets/img/online-shopping.jpg">
  <img src="../../assets/img/online_shopping_m.jpg">
</div>

<div class="about_us">
  <div class="background">
    <div>
      <h2>
        About us
      </h2>
      <ul>
        <li>8-777-777-77-77</li>
        <li>onlinestoremail.ru</li>
        <li>High quality</li>
        <li>120% best price guarantee</li>
      </ul>
    </div>

    <div class="verticalLine"></div>

    <div class="network">
      <p>We are in social networks:</p>
      <div class="site-icons">
        <img src="../../assets/img/1298747_instagram_brand_logo_social%20media_icon.png">
        <img src="../../assets/img/317727_facebook_social%20media_social_icon%20(1).png">
        <img src="../../assets/img/317714_video_youtube_icon.png">
      </div>
    </div>

    <div class="verticalLine"></div>
</div>


</div>
