<div class="header">
  <div class="unchangeable">
      <img src="../../assets/img/home.png" alt="home-icon" class="imageHome">
      <p class="txtAddress">Address</p>
      <img src="../../assets/img/phone.png" alt="home-icon" class="imagePhone">
      <p class="txtPhoneNum">8(777)7777777</p>
      <div class="verticalLine"></div>

      <button class="cart_btn">
        <img src="../../assets/img/cart.png" alt="cart-icon" class="imageCart">
        <p class="txtCart">CART</p>
      </button>

      <button class="login_btn">
        <p class="txtLogin">Login</p>
      </button>

      <button class="register_btn">
        <p class="txtRegister">Register</p>
      </button>
  </div>

  <div class="search_box">
    <input class="inputText" type="text" placeholder="What do you look for...">
    <button class="search_btn">Searct</button>
  </div>

</div>
