.category-item button {
  height: 50px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}
