.category-item button {
  height: 50px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px; /* Add some margin around each button */
}

.row {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin: 0 auto;
  max-width: 1200px; /* Set a max-width to prevent items from spreading too wide */
}
