<h3>Category</h3>

<section class="container my-4">

  <div class="row" id="category">

    <div class="category-item">
      <button (click)="redirectToClothes('Jeans')">
        <img src="../../assets/img/icons8-jeans-50.png" alt="jeans-icon" width="32" height="32">
        Джинсы
      </button>
    </div>

    <div class="category-item">
      <button (click)="redirectToClothes('Pantsuits')">
        <img src="../../assets/img/icons8-blazer-32.png" alt="blazer-icon">
        <img src="../../assets/img/icons8-jeans-50.png" alt="jeans-icon" width="32" height="32">
        Брючные костюмы
      </button>
    </div>

    <div class="category-item">
      <button (click)="redirectToClothes('Pantsuits')">
        <img src="../../assets/img/icons8-shorts-50.png" alt="jeans-icon" width="32" height="32">
        Шорты
      </button>
    </div>


    <div class="category-item">
      <button (click)="redirectToClothes('Pantsuits')">
        <img src="../../assets/img/icons8-skirt-50.png" alt="jeans-icon" width="32" height="32">
        Юбки
      </button>
    </div>


    <div class="category-item">
      <button (click)="redirectToClothes('Pantsuits')">
        <img src="../../assets/img/icons8-overalls-60.png" alt="jeans-icon" width="32" height="32">
        Комбинезоны
      </button>
    </div>


    <div class="category-item">
      <button (click)="redirectToClothes('Pantsuits')">
        <img src="../../assets/img/icons8-blazer-32.png" alt="jeans-icon" width="32" height="32">
        Куртки
      </button>
    </div>
  </div>

  <div class="category-item">
    <button (click)="redirectToClothes('Pantsuits')">
      <img src="../../assets/img/icons8-cloak-64.png" alt="jeans-icon" width="32" height="32">
      Плащи
    </button>
  </div>

  <div class="category-item">
    <button (click)="redirectToClothes('Pantsuits')">
      <img src="../../assets/img/icons8-cardigan-60.png" alt="jeans-icon" width="32" height="32">
      Кардиганы
    </button>
  </div>

  <div class="category-item">
    <button (click)="redirectToClothes('Dress')">
      <img src="../../assets/img/icons8-dress-32.png" alt="jeans-icon" width="32" height="32">
      Платья
    </button>
  </div>

  <div class="category-item">
    <button (click)="redirectToClothes('Pantsuits')">
      <img src="../../assets/img/icons8-ironed-64.png" alt="jeans-icon" width="32" height="32">
      Рубашки и блузки
    </button>
  </div>

  <div class="category-item">
    <button (click)="redirectToClothes('Pantsuits')">
      <img src="../../assets/img/icons8-blazer-32.png" alt="jeans-icon" width="32" height="32">
      Пиджаки
    </button>
  </div>

  <div class="category-item">
    <button (click)="redirectToClothes('t-shirt')">
      <img src="../../assets/img/icons8-t-shirt-50.png" alt="jeans-icon" width="32" height="32">
      Футболки и топы
    </button>
  </div>

  <div class="category-item">
    <button (click)="redirectToClothes('Pantsuits')">
      <img src="../../assets/img/icons8-jeans-50.png" alt="jeans-icon" width="32" height="32">
      Брюки
    </button>
  </div>

</section>
